.goods-item {
  width: 200px;
  height: 400px;
  justify-content: space-between;
  float: left;
  border: 1px solid black;
  border-radius: 15px;
}
.cart {
  width: 200px;
  height: 380px;
  justify-content: left;
  float: right;
  border: 1px solid black;
  border-radius: 15px;
}

.buy-btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}
.buy-btn:hover {
  background: rgb(53, 167, 110);
}
.buy-btn:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}
