.goods {
  width: 80%;
  height: 50%;
  justify-content: space-between;
  float: left;
  padding: 5px 1px;
}

.goods-item {
  width: 200px;
  height: 390px;
  justify-content: space-between;
  float: left;
  border: 2px solid #039;
  border-radius: 15px;
  padding: 5px;
  margin-left: 80px;
}

.menu-filter {
  top: 5%;
  left: 90%;
  position: absolute;
}

.input {
  top: 7%;
  left: 83%;
  position: fixed;
  border-radius: 10px 10px 10px 10px;
}

.info {
  top: 15%;
  left: 20%;
  position: fixed;
  width: 80%;
  height: 15vh;
}

.goods-item-none {
  top: 15%;
  left: 20%;
  position: fixed;
  height: 15vh;
  background-color: rgb(255, 255, 255);
  border: 2px solid #039;
  border-radius: 15px;
}

.goods-item-none-close {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 65px;
  right: 355px;
  background-image: url(img/close.png);
  background-repeat: no;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.shopping-cart {
  width: 80%;
  height: 30vh;
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 30px;
}

.shoping-cart-close {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 30px;
  right: 335px;
  background-image: url(img/close.png);
  background-repeat: no;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  background-color: rgb(77, 118, 252);
}

.filterOn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 125px;
  background-image: url(img/filterOn.png);
  background-repeat: no;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.filterOff {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50px;
  right: 125px;
  background-image: url(img/filterOff.png);
  background-repeat: no;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.buy-btn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 5em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(184, 182, 182);
  box-shadow: 0 -3px rgb(224, 27, 27) inset;
  transition: 0.2s;
}
.buy-btn:hover {
  background: rgb(238, 17, 17);
}
.buy-btn:active {
  background: rgb(244, 248, 246);
  box-shadow: 0 3px rgb(189, 192, 191) inset;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
  transition: 0.3s linear;
}
tr:hover td {
  color: #6699ff;
}

.total {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  top: 75%;
  left: 50%;
  float: initial;
  color: #039;
  border-top: 2px solid #6678b1;
}
